*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-image: url(heart2.th);
background-size: cover;
color: aliceblue;
    
}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
    text-align: center;
    justify-content: center;
}
.form h1{
    text-align: center;
    text-transform: uppercase;
    margin: 40px;

}
.form input{
    font-size: 15px;
    padding: 15px 10px;
    width: 100px;
    border: 0%;
    border-radius: 5px;
    background-color: white;
}
.form button{
    font-size: 15px;
    font-weight: bold;
    margin: 20px ;
    padding: 10px 15px;
    width: 100px;
    border: 0%;
    border-radius: 5px;
    background-color: aqua;
}
@media screen and (max-width:760px)
{
    .form{
        width: 90%;
        margin: 10px;

    }
    .form input{
        width: 100%;
        padding: 12px 10px;

    }
    .form button{
        width: 100%;
        padding: 14px 10px;
    }
}
@media screen and (max-width:480px)
{
    .form{
        width: 95%;

    }
    .form h1{
       font-size: 18px;
    }
    .form input ,.form button{
        font-size: 15px;
    }
}
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-image: url(heart2.th);
background-size: cover;
color: aliceblue;
    
}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
    text-align: center;
    justify-content: center;
}
.form h1{
    text-align: center;
    text-transform: uppercase;
    margin: 40px;

}
.form input{
    font-size: 15px;
    padding: 15px 10px;
    width: 100px;
    border: 0%;
    border-radius: 5px;
    background-color: white;
}
.form button{
    font-size: 15px;
    font-weight: bold;
    margin: 20px ;
    padding: 10px 15px;
    width: 100px;
    border: 0%;
    border-radius: 5px;
    background-color: aqua;
}
@media screen and (max-width:600px)
{
    .form{
        width: 90%;
        margin: 10px;

    }
    .form input{
        width: 100%;
        padding: 12px 10px;

    }
    .form button{
        width: 100%;
        padding: 14px 10px;
    }
}
@media screen and (max-width:480px)
{
    .form{
        width: 95%;

    }
    .form h1{
       font-size: 18px;
    }
    .form input ,.form button{
        font-size: 15px;
    }
}